/* ----------------------------- */

/* ==reset */

/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Century Gothic", helvetica, arial, sans-serif;
  font-size: 1.4em;
  /* equiv 14px */
  line-height: 1.5;
  /* adapt to your design */
}

/* font-sizing for content */

/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure,
hgroup {
  font-size: 1em;
  /* equiv 14px */
  line-height: 1.5;
  margin: 1.5em 0 0;
}

h1,
.h1-like {
  font-size: 1.8571em;
  /* equiv 26px */
  font-weight: normal;
  line-height: 1.6154em;
  margin: 0.8077em 0 0 0;
}

h2,
.h2-like {
  font-size: 1.7143em;
  /* equiv 24px */
  font-weight: normal;
  line-height: 1.75em;
  margin: 0.875em 0 0 0;
}

h3,
.h3-like {
  font-size: 1.5714em;
  /* equiv 22px */
  font-weight: normal;
  line-height: 1.909em;
  margin: 0.9545em 0 0 0;
}

h4,
.h4-like {
  font-size: 1.4286em;
  /* equiv 20px */
  font-weight: normal;
  line-height: 1.05em;
  margin: 1.05em 0 0 0;
}

h5,
.h5-like {
  font-size: 1.2857em;
  /* equiv 18px */
  font-weight: normal;
  line-height: 1.1667em;
  margin: 1.1667em 0 0 0;
}

h6,
.h6-like {
  font-size: 1.1429em;
  /* equiv 16px */
  font-weight: normal;
  line-height: 1.3125em;
  margin: 1.3125em 0 0 0;
}

/* alternate font-sizing */

.smaller {
  font-size: 0.7143em;
  /* equiv 10px */
  line-height: 2.1em;
}

.small {
  font-size: 0.8571em;
  /* equiv 12px */
  line-height: 1.75em;
}

.big {
  font-size: 1.1429em;
  /* equiv 16px */
  line-height: 1.3125em;
}

.bigger {
  font-size: 1.2857em;
  /* equiv 18px */
  line-height: 1.1667em;
}

.biggest {
  font-size: 1.4286em;
  /* equiv 20px */
  line-height: 1.05em;
}

/* soft reset */

html,
body,
textarea,
figure,
label {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-left: 2em;
}

code,
pre,
samp {
  white-space: pre-wrap;
  font-family: consolas, "DejaVu Sans Mono", courier, monospace;
}

code {
  line-height: 1em;
}

table {
  margin-bottom: 1.5em;
}

/* avoid top margins on first content element */

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* avoid margins on nested elements */

li p,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* HTML5 tags */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* max values */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  max-width: 100%;
}

/* you shall not pass */

div,
textarea,
table,
td,
th,
code,
pre,
samp {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/* pictures */

img {
  width: auto;
  height: auto;
  vertical-align: middle;
}

a img {
  border: 0;
}

/* scripts */

body > script {
  display: none !important;
}

/* skip-links */

.skip-links {
  position: absolute;
}

.skip-links a {
  position: absolute;
  left: -9999px;
  padding: 0.5em;
  background: #000;
  color: #fff;
  text-decoration: none;
}

.skip-links a:focus {
  position: static;
}

@font-face {
  font-family: "Unistra A";

  src: url(../fonts/UnistraA-Regular.ttf?44f734f38e6045b8ee7ce7bf4cffcdfc);
}

.container {
  max-width: 1280px;
  width: auto;
  margin: auto;
}

@media (max-width: 1280px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Unistra A", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.lightTheme a {
  color: black;
}

.darkTheme a {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

ul ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hidden {
  display: none;
}

body {
  font-size: 1.6rem;
}

.lightTheme body {
  background-color: white;
}

.darkTheme body {
  background-color: #323234;
}

body.darkTheme {
  background-color: #323234;
}

button {
  background-color: transparent;
  border: none;
}

textarea,
input,
select {
  padding: 2px 5px;
}

textarea::-moz-placeholder, input::-moz-placeholder, select::-moz-placeholder {
  font-size: 1.4rem;
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder, select:-ms-input-placeholder {
  font-size: 1.4rem;
}

textarea::placeholder,
input::placeholder,
select::placeholder {
  font-size: 1.4rem;
}

input {
  background-color: transparent;
  filter: none;
}

.lightTheme input {
  color: black;
}

.darkTheme input {
  color: white;
}

.lightTheme input {
  border: 1px solid #3e8f93;
}

.darkTheme input {
  border: 1px solid #3e8f93;
}

.lightTheme input::-moz-placeholder {
  color: black;
}

.lightTheme input:-ms-input-placeholder {
  color: black;
}

.lightTheme input::placeholder {
  color: black;
}

.darkTheme input::-moz-placeholder {
  color: white;
}

.darkTheme input:-ms-input-placeholder {
  color: white;
}

.darkTheme input::placeholder {
  color: white;
}

.lightTheme p,
.lightTheme label,
.lightTheme button {
  color: #12142c;
}

.darkTheme p,
.darkTheme label,
.darkTheme button {
  color: #F8F8F8;
}

select,
textarea {
  border: none;
}

.lightTheme select,
.lightTheme textarea {
  background-color: #F8F8F8;
  color: black;
}

.darkTheme select,
.darkTheme textarea {
  background-color: #252527;
  color: white;
}

@media (min-width: 768px) {
  .md {
    display: block;
  }
}

.lightTheme *::-moz-placeholder {
  color: black;
}

.lightTheme *:-ms-input-placeholder {
  color: black;
}

.lightTheme *::placeholder {
  color: black;
}

.darkTheme *::-moz-placeholder {
  color: white;
}

.darkTheme *:-ms-input-placeholder {
  color: white;
}

.darkTheme *::placeholder {
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  line-height: 3rem;
}

.lightTheme h1 {
  color: #12142c;
}

.darkTheme h1 {
  color: #F8F8F8;
}

h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: initial;
  margin-bottom: 15px;
}

.lightTheme h2 {
  color: #12142c;
}

.darkTheme h2 {
  color: #F8F8F8;
}

p {
  font-size: 1.6rem;
}

.lightTheme p {
  color: #12142c;
}

.darkTheme p {
  color: #F8F8F8;
}

div.site-global {
  position: relative;
  overflow-x: hidden;
  display: flex;
  margin-top: 50px;
  min-height: calc(100vh - 113px);
}

@media (max-width: 768px) {
  div.site-global {
    margin-top: 20px;
  }
}

div.site-global aside {
  width: 25%;
  margin-right: 50px;
}

@media (max-width: 768px) {
  div.site-global aside {
    display: none;
    margin-right: 0;
  }
}

div.site-global aside section {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.lightTheme div.site-global aside section {
  box-shadow: 0 3px 6px #DFDFDF;
  background-color: #F8F8F8;
}

.darkTheme div.site-global aside section {
  box-shadow: 0 3px 6px #323234;
  background-color: #252527;
}

@media (max-width: 768px) {
  div.site-global aside section {
    padding: 10px;
  }
}

div.site-global main {
  width: calc(100% - 25% - 50px);
  min-height: 100vh;
}

@media (max-width: 768px) {
  div.site-global main {
    width: 100%;
  }
}

section h2 {
  position: relative;
  padding-bottom: 10px;
}

section h2:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -20px;
  right: -20px;
}

.lightTheme section h2:after {
  border-bottom: 1px solid;
}

.darkTheme section h2:after {
  border-bottom: 1px solid;
}

@media (max-width: 768px) {
  section h2:after {
    left: -10px;
    right: -10px;
  }
}

img.logo {
  width: 100%;
  max-width: 250px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 40px;
  width: 50%;
  max-width: 600px;
  align-items: center;
}

.lightTheme main {
  box-shadow: 0 3px 6px #DFDFDF;
  background-color: #F8F8F8;
}

.darkTheme main {
  box-shadow: 0 3px 6px #323234;
  background-color: #252527;
}

@media (max-width: 768px) {
  main {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  main {
    width: 90%;
  }
}

main,
form {
  display: flex;
  flex-direction: column;
}

.lightTheme main,
.lightTheme form {
  background-color: #F8F8F8;
}

.darkTheme main,
.darkTheme form {
  background-color: #252527;
}

input {
  width: 100%;
  margin-top: 5px;
}

.lightTheme input {
  background-color: white;
}

.darkTheme input {
  background-color: #323234;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 50px;
  padding: 5px 20px;
  margin-top: 15px;
}

.lightTheme button {
  color: #12142c;
  background-color: #94CAD1;
}

.darkTheme button {
  color: #F8F8F8;
  background-color: #3e8f93;
}

.lightTheme button:hover {
  color: #12142c;
  background-color: #3e8f93;
}

.darkTheme button:hover {
  color: #F8F8F8;
  background-color: #3e8f93;
}

label {
  margin: 10px 0;
  font-size: 2rem;
}

