.add_post {
    form, form label {
        display: flex;
        flex-direction: column;
    }

    form {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    form label {
        margin: 10px 0;
        font-size: 2rem;
        font-weight: bold;
    }

    form label > * {
        margin-top: 5px;
        width: 100%;
        max-width: 600px;
    }

    form p a {
        font-weight: initial;
        font-size: 1.4rem;
        text-decoration: underline;
         @include theme() {
             color: theme-get('main-color-dark')
          }
    }

    form label.booleanChoice label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        align-items: center;
        width: auto;
        margin: 0;
        &:first-of-type {
            margin-right: 15px;
        }
        input {
            flex-basis: max-content;
        }
    }

    form .group_buttons {
        display: flex;
        align-items: center;
        margin-top: 30px;
        button {
            margin-top: 0;
            margin-left: 15px;
        }
    }

    form button {
        margin-top: 30px;
        padding: 10px 20px;
        width: max-content;
        border-radius: 10px;
        font-weight: bold;
        @include theme() {
            background-color: theme-get('main-color-dark');
            color: theme-get('white');
        }
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            text-align: center;
        }
    }

    form .retour_creationPost{
        text-decoration: underline;
    }
}
