div.modal {
    position: fixed !important;
    display: flex;
    justify-content: center;
    align-content: center;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    > div {
        @include cards;
        @include theme {
            background-color: theme-get('white');
        }
        max-width: 80vh;
        max-height: 80vh;
        margin: auto;
        overflow-y: auto;
    }

    label, select {
        width: 100%;
    }

    select {
        margin-top: 30px;
    }

    button {
        @include button;
    }

    li {
        img {
            margin-right: 10px;
            border-radius: 50px;
        }
        @include theme {
            color: theme-get('main-color-dark');
        }
    }
}

div.modal.show {
    visibility: initial;
    z-index: 10;
}
