.menu-right-fixed {
     @include theme() {
         background-color: theme-get('main-color-dark')
      }
    width: 60px;
    right: 0;
    top: calc(50% - 113px);
    position: fixed;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10;
    @media (max-width: $breakpoint-laptop) {
        width: 40px;

        i {
            font-size: 120%;
        }
    }

    @media (max-width: $breakpoint-tablet) {
        width: 30px;

        i {
            font-size: 100%;
        }
    }

    i {
        padding: 10px 0;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        font-size: 20px;
         @include theme() {
             color: theme-get('white');
          }

        &:last-of-type {
            padding-bottom: 20px;
        }
    }
}
