ul.liens_menu_aside {
    margin-top: 30px;
    @include list-reset;

    li a {
        padding: 7px 15px;
        border-radius: 5px;
        margin: 15px 0;
        font-size: 2rem;
        width: 100%;
        display: block;
        @include theme() {
            background-color: theme-get('white');
            color: theme-get('black');
            border: 1px solid theme-get('main-color');
        }
        &:hover {
            @include theme() {
                background-color: theme-get('main-color');
                color: theme-get('white');
                border: 1px solid theme-get('main-color');
            }
        }
    }
}

main.page_profile {
    section {
        @include cards;
    }

    section.infos {
        div.infos_top {
            display: flex;
            align-items: baseline;

            .infos_professions {
                margin-left: 15px;
            }

            a.infos_button_edit {
                margin-left: auto;
                //color: $white;
                padding: 1px 15px;
                border-radius: 35px;
                @include theme() {
                    background-color: theme-get('main-color-dark');
                    color: theme-get('white');
                }
            }
        }

        img {
            margin-top: 15px;
            width: 100%;
            height: 250px;
        }

        p:last-of-type {
            margin: 15px 0;
        }
    }

    .buttonAdd {
        margin-top: 20px;

        a {
            @include button;
            @include buttonBefore;
        }
    }
}

.slider {
    margin: 30px 0;
}

.tableaux_suivi, .tableaux_prives, .publications_sauvegardees, .derniers_posts {
    display: inline-block;
    width: 48%;
    @media (max-width: $breakpoint-laptop) {
        width: 100%;
    }

    p.buttonAdd a {
        border-bottom: transparent;
    }

    a {
        @include theme() {
            border-bottom: 1px solid theme-get('main-color-dark');
        }

    }
}

.tableaux_suivi, .publications_sauvegardees {
    margin-right: calc(99% - 48% * 2);
}

.sidebarProfile {
    h3 {
        @include theme() {
            color: theme-get('main-color-dark')
        }
    }

    button {
        @include theme() {
            background-color: theme-get('main-color-light');;
            color: theme-get('main-color-dark');
        }
    }

    form {
        @include cards;
        > div {
            box-shadow: none;
            > div {
                @include theme() {
                    background-color: theme-get('grey-medium');
                }
            }
        }
    }

    input {
        @include theme() {
            background-color: theme-get('white');
            color: theme-get('main-color-dark');
        }

        &::placeholder {
            @include theme() {
                color: theme-get('main-color-dark');
            }
        }
    }
}
