.container {
    max-width: 1280px;
    margin: auto;
}

.hidden {
    display: none;
}

.md {
    @media (min-width: $breakpoint-tablet) {
        display: block;
    }
}

header {
    border-top: 4px solid $main-color-light;
    border-bottom: 4px solid $main-color-light;
    padding-top: 15px;
    padding-bottom: 15px;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .right_elements {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img.logo {
        max-width: 300px;
        @media (max-width: $breakpoint-tablet) {
            max-width: 200px;
        }
    }

    .search-bar {
        position: relative;
        margin-right: 30px;
        i {
            position: absolute;
            top: calc(50% - 16px / 2);
            left: 20px;
        }

        form {
            @media (max-width: $breakpoint-tablet) {
                display: none;
                position: fixed;
                top: 88px;
                left: 0;
                right: 0;
                z-index: 10;
                &.showSearchBar {
                    display: block;
                }
                input {
                    width: 100%;
                    border-radius: 0;
                }
            }

            input#search-toggle {
                background-color: #e5e7eb;
                border-radius: 50px;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                padding-right: 1rem;
                padding-left: 3rem;

                &::placeholder {
                    color: black;
                }
            }
        }
    }

    .user {
        position: relative;

        button#userButton {
            display: flex;
            align-items: center;

            i {
                font-size: 35px;
                margin-right: 15px;
            }

            &:after {
                @media (min-width: $breakpoint-tablet) {
                    content: url("../../img/down-chevron.svg");
                    width: 10px;
                    height: -10px;
                    margin-left: 10px;
                }
            }
        }

        #userMenu {
            @include list-reset;
            display: none;
            position: absolute;
            background-color: white;
            left: -30px;
            right: -30px;
            border: 2px solid $main-color-light;
            padding: 10px;

            li {
                margin: 5px 0;
            }

            &.showUserMenu {
                display: block;
            }
        }
    }

}
