.tableaux_miniatures{
    display: flex;
    flex-wrap: wrap;
    > div {
        display: flex;
        flex-direction: column;
        margin: 10px;
        overflow: hidden;
        img {
            width: 50px;
        }
        p {
            max-width: 50px;
            white-space: nowrap;
        }


    }

    + button {
        @include button;
        display: flex;
        &:before {
            content: "+";
            display: inline-block;
            font-size: 3rem;
            font-weight: bold;
            height: 20px;
            margin-top: -12px;
            margin-left: -5px;
            margin-right: 5px;
        }
    }
}
