.article-miniature {
    min-height: 110px;
    img {
        width: 100px;
        float: left;
        margin-right: 20px;
    }
    .article-miniature-headline {
        font-size: 1.6rem;
    }
    .article-miniature-infos{
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: bold;
        a {
            //border-bottom: 2px solid $main-color-dark;
             @include theme() {
                 border-bottom: 2px solid theme-get('main-color-dark')
              }
        }
    }
}
